@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&amp;display=swap');

body
{
    background-color: black;
}

{
    font-family: 'Roboto Mono', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    color: yellow;
}

a:link, a:visited, a:active {
    color: blue;
}

a:hover {
    color: blue;
}

.btn-primary {
    background-color: yellow;
    border: yellow;
    color: blue !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: yellow !important;
    color: blue;
}